{% for image in images %}
    <div class="splashing" data-id="{{ image.id }}">
        <img src="{{ image.small }}">
        <span class="attribute"><a href="{{ image.attr.link }}" target="_blank">{{ image.attr.name }}</a></span>
    </div>
{% endfor %}