<div id="splashing-container" class="splashing-container are-images-unloaded">
    <div class="splashing-image-sizer"></div>
    {% for image in images %}
        <div class="splashing-image-grid">
            <div class="splashing-image" data-id="{{ image.id }}">
                <img src="{{ image.small }}">
            </div>
            <div class="splashing-attribute" style="display: none;">
                <a href="{{ image.attr.link }}">{{ image.attr.name }}</a>
            </div>
        </div>
    {% endfor %}
</div>