{% for image in images %}
    <div class="splashing" data-id="{{ image.id }}">
        <img src="{{ image.small }}">
        <span><a href="{{ image.attr.link }}">{{ image.attr.name }}</a></span>
    </div>
{% endfor %}