<form action="{{ url('splashing-images/search') }}" method="get">
    <input type="text" class="" name="q" {% if craft.app.request.get('q') is defined %}value="{{ craft.app.request.get('q') }}"{% endif %}>
    <input type="submit" value="search">
</form>