<form action="{{ url('splashing-images/search') }}" method="get">
    <div class="flex-grow texticon search icon clearable">
        <input type="text" class="text" name="q" placeholder="Search"
               {% if craft.app.request.get('q') is defined %}value="{{ craft.app.request.get('q') }}"{% endif %}>
        <input type="hidden" name="page" value="1">
        <input type="submit" class="btn submit search-splashing" value="search">
    </div>
</form>
