<form action="{{ url('splashing-images/find') }}" method="post">
    {{ csrfInput() }}
    <div class="flex-grow texticon search icon clearable">
        <input type="text" class="text" name="query" placeholder="Search"
               {% if craft.app.request.get('q') is defined %}value="{{ craft.app.request.get('q') }}"{% endif %}>
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="redirect" value="{{ cpUrl('splashing-images/search') }}">
        <input type="submit" class="btn submit search-splashing" value="Search">
    </div>
</form>
